<mat-sidenav-container class="sidenav-container">

  <!-- <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'push' : 'side'" [opened]="(isHandset$ | async) === false"> -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'push'" [opened]="false">
    <!-- Add Sidenav here -->
    <app-side-nav-bar></app-side-nav-bar>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <!-- <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"> -->
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="true">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- Add Main Toolbar here -->
      <app-nav-bar></app-nav-bar>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div *ngIf="isHandset$ | async">53w5</div>
  </mat-sidenav-content>

</mat-sidenav-container>
