<mat-sidenav-container class="sidenav-container">

  <!-- <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'push' : 'side'" [opened]="(isHandset$ | async) === false"> -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="isMobile ? 'dialog' : 'navigation'"
    [mode]="isMobile ? 'over' : 'push'" [opened]="false">

    <!-- Add Sidenav here -->
    <app-nav-bar-side></app-nav-bar-side>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" [ngStyle]="isMobile ? { 'padding-left': '8px' }: { 'padding-left': '16px' }">
      <!-- <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"> -->
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="true">
        <mat-icon aria-label='Side nav toggle icon'>menu</mat-icon>
      </button>

      <!-- Add Main Toolbar here -->
      <app-nav-bar-main></app-nav-bar-main>

    </mat-toolbar>

    <!-- Add Content Here -->
    <!-- <div *ngIf="isMobile">Mobile Screen Detected</div>
    <div *ngIf="!isMobile">Ful Screen Detected</div> -->

    <div class="log-on-container">
      <button mat-button class="log-on-button">
        <app-sign-on></app-sign-on>
      </button>
    </div>



  </mat-sidenav-content>

</mat-sidenav-container>
