<mat-toolbar color="primary">
  <span id="userIcon">
    <mat-icon>person</mat-icon>
  </span>
  <span class="welcomeMsg">
    {{userName}}
  </span>

</mat-toolbar>



<mat-nav-list>
  <a mat-list-item href="#">Data Warehouse</a>
  <a mat-list-item href="#">Data Dictionary</a>
  <a mat-list-item href="#">Applications</a>
  <a mat-list-item href="#">Reports</a>
<br>
  <!-- <div class="log-in-container"> -->
    <!-- <button mat-button class="log-in-content"> -->
      <a mat-list-item class="log-in-container">
       <app-sign-on class="log-in-content"></app-sign-on>
      </a>

    <!-- </button> -->
  <!-- </div> -->


</mat-nav-list>
