mat-toolbar {
  padding: 2px 2px 2px;
  display: flex;
}
#userIcon {
  width: 15%;
}
.welcomeMsg {
  font-size: 14px;
  vertical-align: text-bottom;
}
mat-icon {
  // padding: 0px 0px 0px;
  height: 100%;
  width: 100%;
  // text-align: center;
  vertical-align: text-bottom;
}
.log-in-container {
  width: 100%;
  padding-top: 30px;
}
.log-in-container:hover {
  background-color: #E8EAF6;
  color: #1A237E;
}
.log-in-content {
  width: 100%;
}
