<div class="horizontal-bar">
  <div class="app-name" *ngIf="!isMobile">
    My Data Marts
  </div>

  <div [class.logo-small]="isMobile" [class.logo-large]="!isMobile">
    <img src="../assets/QH_White.png" [class.logo-img-small]="isMobile" [class.logo-img-large]="!isMobile" />
  </div>

  <div [class.menu-options-small]="isMobile" [class.menu-options-large]="!isMobile">
    <button id="menuOpt" mat-button [matMenuTriggerFor]="techMenu">Technologies</button>
    <mat-menu #techMenu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="techSubMenu">Front End</button>
      <button mat-menu-item>Back End</button>
    </mat-menu>
    <mat-menu #techSubMenu="matMenu">
      <button mat-menu-item>Angular</button>
      <button mat-menu-item>React</button>
      <button mat-menu-item>Vue</button>
    </mat-menu>

    <button id="menuOpt" mat-button [matMenuTriggerFor]="companyMenu">Company</button>
    <mat-menu #companyMenu="matMenu">
      <button mat-menu-item>Products</button>
      <button mat-menu-item>Services</button>
      <button mat-menu-item>About</button>
    </mat-menu>
  </div>
</div>

<!-- ----------------------------------- -->


<!-- </mat-toolbar-row> -->
